.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  position: relative;
}

.mobile-overlay {
  display: none; /* Default hidden */
}

.welcome-text {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  margin-top: 2rem;
}

.view-puppies-button {
  background-color: #f4a261; /* Soft pastel orange color */
  color: #fff;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 30px; /* More rounded corners for a softer look */
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
  z-index: 2;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transition */
}

.view-puppies-button:hover {
  background-color: #e76f51; /* Slightly darker shade on hover */
  transform: translateY(-3px); /* Lift effect on hover */
}

.view-puppies-button:active {
  background-color: #e76f51;
  transform: translateY(0); /* Reset on click */
}

@media (max-width: 768px) {
  .home-container {
    background-size: contain;
    background-position: top center;
  }

  .welcome-text {
    padding: 0 1rem;
  }

  .view-puppies-button {
    width: 80%;
    max-width: 300px;
    font-size: 1rem;
  }

  .mobile-overlay {
    display: block; /* Show overlay on mobile */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1); /* Black overlay with 10% opacity */
    z-index: 1;
  }
}
